@import './scss.scss';

* {
  box-sizing: border-box !important;
  margin: 0;
  padding: 0;
}

body {
  /* iOS Safari */
  -webkit-touch-callout: none;
  /* Chrome/Safari/Opera */
  -webkit-user-select: none;
  /* Konqueror */
  -khtml-user-select: none;
  /* Firefox */
  -moz-user-select: none;
  /* Internet Explorer/Edge */
  -ms-user-select: none;
  user-select: none;
  font-size: 14px;
  color: #333;
  font-family: "Microsoft Yahei";
}

/* 如需引用字体则在此引用 */
/* @font-face {
  font-family: 'YouSheBiaoTiHei';
  src: url("../font/YouSheBiaoTiHei-2.ttf");
}
 */

input {
  outline: none;
  border: none;
  color: #333;
}

ul,
li {
  padding: 0;
  margin: 0;
  list-style: none
}